/* CSS Document */

#content{ width:100%; height:799px; margin:0px auto; /*background:url(../images/contaner_bg.jpg) no-repeat center top;*/}
#cont{ width:1000px; height:auto;margin:0px auto; padding-top:37px;}
#cont .cont_left{ float:left; width:131px; height:515px;  margin:0px 31px 0px px;} 
#cont .cont_left .cont_left_bt{ background:url(../images/zoujin.png) no-repeat 15px center #FF8519; color:#FFFFFF; box-shodow:1px 1px 1px #ccc; height:68px; border-bottom:1px solid #4BA559; padding-left:45px; line-height:68px;  }
#cont .cont_left .ziye{ background:url(../images/zoujin.png) no-repeat 15px center #4FAE5D;}
#cont .cont_left .cont_left_bt span{ font-size:18px;} 
#cont .cont_left .cont_left_list{ padding-top:15px;background:#71c83d; padding-bottom:90px;}
#cont .cont_left .cont_left_list ul li{ height:40px; line-height:40px; width:131px; text-align:center; }
#cont .cont_left .cont_left_list ul li a{ color:#FFFFFF;} 
#cont .cont_left .cont_left_list ul li:hover{background:#ff781f;}
#cont .cont_left .cont_left_list ul li.hover{ background:#ff781f;}



#cont .cont_right{ float:right; width:850px; height:auto; background: url(../images/pagebg.png) #e8e8e8;; position:relative; border:1px solid #C9C7C5;}
#cont .cont_right .cont_right_weizhi{ font-size:14px; color:#ffffff; padding:8px 0px 0px 20px; border-bottom:1px solid #4FAE5D; height:60px; line-height:60px; background:#49b801;}
#cont .cont_right .cont_right_weizhi span{ margin:0px 3px;} 
#cont .cont_right .cont_right_nr{ width:460px; height:527px; background:url(../images/contact.jpg) no-repeat -120px top #FFFFFF;  padding-left:390px; position:relative;}
#cont .cont_right .cont_right_nr p.lianxi{ font-size:48px; color:#55ba64; margin:0px 0px 20px 10px; padding-top:20px;} 
#cont .cont_right .cont_right_nr p.lianxi img{ margin-right:10px;} 
#cont .cont_right .cont_right_nr .juti{ font-size:14px; color:#2f2e29; line-height:27px;}
#cont .cont_right .cont_right_nr .juti p.style{ font-size:18px; margin-bottom:8px; }
#cont .cont_right .biaozhi{ position:absolute; right:0px; bottom:0px;} 
#cont .cont_right .cont_right_nr .map{ width:357px;height:185px;border:4px solid #55BA64; border-radius:5px; margin-top:30px;}


.clear{ clear:both;}

/*��ҳ*/
.fenye{ width:850px; text-align:center; color:#404040; padding-top:20px; padding-bottom:30px;/* background:#E8E8E8;*/ }
.fenye a{ color:#404040; display:inline-block; margin:0px 10px;}

/*------��������-��ϵ����-------*/
<!--���ðٶȵ�ͼAPI-->
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

/*------��������-�����ͻ�-------*/
.hezuo{ width:805px; height:478px; padding-top:48px; padding-left:45px; position:relative; }
.hezuo ul li{ width:228px; height:147px;  float:left; margin:19px 12px;}
.hezuo ul li img{ max-width:100%;}


/*------�߽�����-���д���-------*/
.zoujin{ margin-top:15px; }
.zoujin .zoujin_bt{ font-size:24px; color:#9fa0a0; width:30px; float:left; padding:0px 30px 0px 40px;}
.zoujin .zoujin_nr{ float:left; width:690px; position:relative;} 
.zoujin .zoujin_nr .zoujin_nr_img{ width:333px; text-align:center; color:#6B635A; float:left;}
.zoujin .zoujin_nr .zoujin_nr_img img{ margin-bottom:10px;}
.zoujin .zoujin_nr p{ line-height:25px;color:#8B8C8C;}

/*------�߽�����-Ʒ������-------*/
.linian_bt{ width:690px; border-bottom:1px solid #CECECE;height:40px; line-height:40px; margin-bottom:20px; padding-bottom:3px;}
.linian_bt ul li{ width:130px;  float:left; text-align:center; color:#6B635A; font-size:14px;}
.linian_bt ul li.hover{ border-bottom:4px solid #FE944E; cursor:pointer;}
.linian_nr{ width:690px; height:auto;}
.linian_nr .hide{ color:#FFFFFF; line-height:25px; display:none;}


/*------�߽�����-�����б�ҳ-------*/
.new_iconimg{ margin:10px 0px 20px 0px;}
.new_iconimg img{ max-width:100%;}
.new_list ul li{ width:690px;  height:44px;margin-bottom:10px; border-bottom:1px solid #C1BFBC;}
.new_list ul li .styleone{ width:88px; height:37px; float:left; color:#A29D98; padding:7px 0px 0px 14px;}
.new_list ul li .styleone span{ font-size:11px;} 
.new_list ul li .styletwo{ width:466px; height:44px; line-height:44px; float:left;  padding-left:20px; } 
.new_list ul li .styletwo a{ color:#6b635a; font-size:15px; }
.new_list ul li .styletwo a:hover{ text-decoration:underline;} 
.new_list ul li .stylethree{width:100px; height:44px; line-height:44px; color:#A29D98;  float:left; text-align:center;}


/*------�߽�����-��������ҳ-------*/
.new{ width:850px; height:auto;}
.newcont{ width:730px; margin:10px auto;}
.newcont img{ max-width:100%;} 
.newcont .newcont_bt{ font-size:16px; color:#6B635A; margin-bottom:25px; padding-top:10px; text-align:center;}
.newcont .newcont_bt p.js{ font-size:12px; margin:5px 0px;}
.newcont .newcont_nr{ color:#8B8C8C; line-height:25px;}


/*------�߽�����-��ҵ����-------*/
.rongyu{ width:790px; height:auto; padding-top:20px; padding-left:40px;}
.rongyu .rongyu_bt{ width:24px; font-size:24px; color:#9FA0A0; float:left; margin-right:35px;}
.rongyu .rongyu_sj{ width:680px; float:left; padding-top:12px;}
.rongyu .rongyu_sj ul li{ width:28px; height:95px; background:#418E4C; color:#FFFFFF; margin-right:24px; font-size:15px; float:left; padding:15px 0px 0px 15px;}
.rongyu .rongyu_sj ul li.hover{ background:#e4f4e6; color:#418E4C; border:2px solid #418E4C; cursor:pointer; height:91px;}
.rongyu .rongyu_jx{ width:790px; height:auto; padding-top:43px;}
.rongyu .rongyu_jx .rongyu_jx_list{width:790px; height:auto; display:none; }
.rongyu .rongyu_jx .rongyu_jx_list ul li{ width:233px; height:212px; background:rgba(255,255,255,0.9); float:left; padding:12px 10px 12px 10px; margin-right:10px; margin-bottom:10px; box-shadow:1px 1px 1px #C0D0C2; -webkit-box-shadow:1px 1px 1px #C0D0C2; -moz-box-shadow:1px 1px 1px #C0D0C2; -o-box-shadow:1px 1px 1px #C0D0C2;}
.rongyu .rongyu_jx .rongyu_jx_list ul li p{ width:233px; text-align:center; font-size:16px; color:#6B635A; height:40px; line-height:40px;}
.rongyu .rongyu_jx .rongyu_jx_list ul li .list_img{ width:233px; height:180px; position:relative; left:0px; top:0px; overflow:hidden;}
.rongyu .rongyu_jx .rongyu_jx_list ul li .list_img img{ position:absolute; left:0px; top:0px; }


/*------�߽�����-------*/
.hualiang{ width:850px; height:auto;}
.hualiang .hualiang_img{ width:427px; height:406px; float:left;}
.hualiang .hualiang_nr{ width:415px; float:left; margin-left:38px;} 
.hualiang .hualiang_nr .nr_bt{ font-size:48px; color:#6B635A; margin-top:-25px;} 
.hualiang .hualiang_nr .nr_bt span{ font-size:72px;}
.hualiang .hualiang_nr .nr_xiaobt{ font-size:18px; color:#FE944E; margin:30px 0px 20px 0px;}
.hualiang .hualiang_nr p{ color:#6B635A; line-height:25px;} 


/*------�߽�����-�Ŷӽ���-------*/
.tuandui{ width:769px; height:auto; padding-top:20px; padding-left:26px;}
.wc960{width:758px; }
.count{overflow:hidden;}
.icon{background:url(../images/lrarrow.png) no-repeat 0 0;}
.btn{display:block;height:23px;position:absolute;top:0px;width:23px;z-index:200;cursor:pointer;}
.prev{ background-position:0 -23px;right:0px;top: 26px;}
.next{ background-position:0 0px;;right: 50px;top: 26px;}

ul li.yy{ width:885px; float:left;}
ul li.yy .yy_bt{ font-size:18px; color:#FF781F; margin-bottom:25px;} 
ul li.yy .yy_img{ width:367px; height:338px; float:left; margin-right:45px;} 
ul li.yy .yy_js{  width:367px;float:left; color:#6B635A;}
ul li.yy .yy_js .js_xbt{ font-size:18px; margin-bottom:25px;}
ul li.yy .yy_js p{ line-height:25px;}

ul li.yy .cjwt_list{ width:567px; height:144px; background:url(../img/ysbg2.png) no-repeat right bottom #FF4C4E; padding-left:10px; padding-top:7px; margin-top:10px;} 
ul li.yy .cjwt_list p.cjwt_list_bt{ font-size:18px; color:#ffffff; margin-bottom:0px; background:url(../img/jia2.jpg) no-repeat left top; padding-left:33px; line-height:38px;} 
ul li.yy .cjwt_list p.cjwt_list_js{ font-size:12px; color:#FFA9AA; line-height:23px; width:385px; margin-left:33px;} 

.tuandui .renyuan{ color:#6B635A; font-size:14px; margin-top:60px; margin-bottom:50px;}
.tuandui .renyuan span{ color:#FE944E; margin-left:25px; }


/*------ũ����-�¼�-------*/
#cont2{ width:964px; margin:0px auto; position:relative;padding-top:37px;}
#cont2 .cont2_right_weizhi{ font-size:14px; color:#ffffff; padding:8px 0px 0px 20px; border-bottom:1px solid #4FAE5D; height:60px; line-height:60px; background:#49B801; }
#cont2 .cont2_right_weizhi span{ margin:0px 3px;}
#cont2 .nbh{ width:962px; text-align:center; padding-top:33px; color:#6B635A; background:#E8E8E8;border: 1px solid #C9C7C5;}
#cont2 .nbh .nbh_bt{ font-size:16px;} 
#cont2 .nbh .nbh_img img{ margin-right:20px; margin-top:40px; margin-bottom:30px;} 
#cont2 .nbh .nbh_nr{ line-height:25px; width:750px; text-align:left; margin-left:105px;}
#cont2 .biaozhi{ position:absolute; right:0px; bottom:0px;}  

/*------ũ����-------*/

.nbh .nbh_leftbt{ width:24px; font-size:24px; color:#9FA0A0; float:left; margin-right:35px; margin-left:63px;}
.nbh .nbh_rightnr{ width:760px; float:left; }

.nbh .nbh_rightnr li{width:219px; height:399px; margin:0px 10px; color:#FFFFFF;float:left;display:inline; background:#ffffff; position:relative; padding:5px; margin-bottom:20px; overflow:hidden}
.nbh .nbh_rightnr li.hover{ background:#43a952;}
a.img_wrap22{font-size:12px; color:#FFFFFF;}
.cplist22{ width:229px; height:409px; }
.cplist22 .cplist_img22{ width:219px; height:367px; overflow:hidden; position:absolute;left:5px; top:5px; z-index:1;} 
.cplist22 .cplist_js22{ width:219px; height:40px;position:absolute; left:5px; bottom:5px; z-index:22; background:#ffffff;}
.cplist22 .cplist_js22 p.hh22{ background:#FFFFFF;height:40px;} 
.cplist22 .cplist_js22 p.hh22 span.xbt22{ width:180px; height:40px; line-height:40px; font-size:16px; text-align:center; display:inline-block; background:#FF781F; float:left}
.cplist22 .cplist_js22 p.hh22 span.jt22{ width:37px; height:26px; display:inline-block; text-align:center; padding-top:14px; float:right; background: url(../images/xia.png) no-repeat center center #FF781F;}
.cplist22 .cplist_js22 p.hh22 span.jt22 img{ display:none;} 

.cplist22 .cplist_js22 p.hh22 span.jt44{ width:37px; height:26px; display:inline-block; text-align:center; padding-top:14px; float:right; background: url(../images/shang2.png) no-repeat center center #FF4C4E;}
.cplist22 .cplist_js22 p.hh22 span.jt44 img{ display:none;} 
.cplist22 .cplist_js22 p.xx22{ padding:15px; line-height:25px; display:none; color:#6d695a; text-align:left;}
.cplist22 .cplist_js22 p.xx22 a{ color:#55BA64;}



/*------��������-��������-------*/
.jiaru{ width:810px; height:auto; color:#6B635A; padding:35px 0px 0px 40px; background:url(../images/pin.png) no-repeat 681px 35px;} 
.jiaru .jiaru_bt{ font-size:14px; border-bottom:1px solid #6B635A; padding-bottom:8px; width:625px; margin-bottom:10px;}
.jiaru .jiaru_bt span{ font-size:18px;} 
.jiaru p{ line-height:25px; width:625px;}
.jiaru .jiaru_zhiwei ul li{ line-height:25px; width:370px; float:left;}


/*------��������-��վ��ͼ-------*/
.ditu{width:964px; height:auto; color:#FFFFFF; padding:20px 0px 0px 60px;}
.ditu ul li{ width:153px; float:left; background:url(../images/nav_bg.png) no-repeat right top; height:363px;}
.ditu ul li p{ display:none;}
.ditu ul li p a{ color:#6B635A; display:block; height:35px; line-height:35px; font-size:14px; text-align:center;} 
.ditu ul li span a{ font-size:18px; display:block; height:50px; line-height:50px; color:#6B635A; text-align:center;}
.ditu ul li span a:hover{ text-decoration:underline;} 
.ditu ul li P a:hover{  color:#009933; transition:background 0.5s;-webkit-transition:background 0.5s;-moz-transition:background 0.5s;-o-transition:background 0.5s}

